@import "tailwindcss";
@import "../styles/login.css";
@import "../styles/reset-password.css";
@import "../styles/floating-btn.css";

:root {
  --azul: 30 58 138;            /* #1e3a8a */
  --celeste: 132 155 255;       /* #849bff */
  --celeste-claro: 168 184 253; /* #a8b8fd */
  --amarillo: 248 212 98;       /* #f8d462 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}