@import "tailwindcss";
@import "../styles/login.css";
@import "../styles/institution-register.css";
@import "../styles/reset-password.css";
@import "../styles/floating-btn.css";
@import "../styles/auth.css";

:root {
  --azul: 30 58 138;
  --celeste: 132 155 255;
  --celeste-claro: 168 184 253;
  --amarillo: 248 212 98;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}